@import "tailwindcss";

:root {
  --background: #f5f7f8;
  --foreground: #111418;
  --primary: #0f172a;
  --accent: #f97316;
  --secondary: #FF9900;
  --navy-blue: #0f172a;
}

@theme inline {
  --color-background-light: #f5f7f8;
  --color-background-dark: #101822;
  --color-primary: #0f172a;
  --color-primary-dark: #020617;
  --color-accent: #f97316;
  --color-accent-dark: #ea580c;
  --color-secondary: #FF9900;
  --color-secondary-dark: #e68200;
  --color-navy-blue: #0f172a;
  --color-text-light: #0D1B2A;
  --color-text-gray: #60728a;
  --color-border-light: #e2e8f0;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1B263B;
  --font-display: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101822;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
